<section class="about" id="about">
  <h2>About Me</h2>
  <p>
    <span>Hello, I am Hriday,</span>
      I am a Toronto base freelance Full-stack developer who loves to code & write application to build great products & help business succeed with there goals.
      In June 2013, I got my bachelor degree in Computer Science & started my first commercial work as a web developer trainee. From there i started my actual journey and started taking more & more intrest towards web development technologies.

  </p>
  <p>
      Three years later in September 2016, I join Concordia university to pursue my Masters degree in Electrical & Computer Science.
      During my academic and professional career, I worked on several projects in which I used different technologies and languages like JavaScript, AngularJS, Bootstrap, HTML, CSS, .NET Framework, Microsoft SQL, AJAX, NodeJs, ExpressJs, MongoDB, C#, .Net, MVC Architecture
  </p>
  <p>
    My work is something I do with a lot of honesty, appetite and commitment. In my spare time you will my find me exploring & traveling new places.Appart from that I love playing chess. Chess game help me a lot to think logically and think in a diffrent ways to find solutions.
  </p>
  <p>
    Feel free to reach out at <span>hridaysur@yahoo.co.in</span> or connect with me on <span><a href="https://www.linkedin.com/in/hridaysur/">LinkedIn.</a></span>
  </p>

  <h3>My Skills</h3>

  <p>C#</p>
  <div class="container">
    <div class="skills csharp">65%</div>
  </div>

  <p>SQL</p>
  <div class="container">
    <div class="skills sql">60%</div>
  </div>

  <p>JavaScript</p>
  <div class="container">
    <div class="skills javascript">70%</div>
  </div>

  <p>NodeJS</p>
  <div class="container">
    <div class="skills Node">65%</div>
  </div>

  <p>AngularJs</p>
  <div class="container">
    <div class="skills angular">50%</div>
  </div>

  <p>ExpressJs</p>
  <div class="container">
    <div class="skills expressjs">60%</div>
  </div>


  <p>MongoDB</p>
  <div class="container">
    <div class="skills MongoDB">65%</div>
  </div>



</section>
