<aside>
  <nav>
    <a (click)="onHome()" routerLinkActive="active"> <img src="../../assets/images/Layer 0 copy 2.png" alt=""></a>
    <a (click)="onHome()" routerLinkActive="active"><i class="fas fa-home" id="icon"></i><p>Home</p></a>
    <a (click)="onAbout()" routerLinkActive="active"><i class="fas fa-user-tie" id="icon"></i><p>About Me</p></a>
    <a (click)="onPortfolio()" routerLinkActive="active"><i class="fas fa-suitcase" id="icon"></i><p>Portfolio</p></a>
    <a (click)="onContact()" routerLinkActive="active"><i class="fas fa-phone-square" id="icon"></i><p>Contact Me</p></a>

  </nav>
</aside>

<nav class="mobile-nav">
<a (click)="onHome()" routerLinkActive="active"><i class="fas fa-home"></i><p>Home</p></a>
<a (click)="onAbout()" routerLinkActive="active"><i class="fas fa-user-tie"></i><p>About Me</p></a>
    <a (click)="onPortfolio()" routerLinkActive="active"><i class="fas fa-suitcase"></i><p>Portfolio</p></a>
    <a (click)="onContact()" routerLinkActive="active"><i class="fas fa-phone-square"></i><p>Contact Me</p></a>

</nav>
