<h2>Highlight</h2>

<div class="timeline">
    <div class="entry hide-on-init" animateOnScroll animationName="animated bounceInLeft">
      <div class="title">
        <h3>Sept. 2016- June 2018</h3>
        <p>Electrical & computer Science (M.Engg)</p>
        <p><i class="fas fa-map-marker"></i> Montreal, Canada</p>
      </div>
      <div class="body">
        <p>Completed Masters of Engineering in <strong>Concordia University</strong> with <strong>3.5 CGPA</strong></p>
        <p class="subtitle"><strong> Carrier related Courses</strong> </p>
        <ul>
          <li>Higher Layer Telicommunication Protocol</li>
          <li>Cloud Network Service Provisioning</li>
          <li>Programming on The Cloud</li>
          <li>Model Driven Software Engineering</li>
        </ul>
      </div>
    </div>
    <div class="entry hide-on-init" animateOnScroll animationName="animated bounceInLeft">
      <div class="title">
        <h3>Nov. 2014 - August 2016</h3>
        <p>Project Engineer</p>
        <p><i class="fas fa-map-marker"></i> Aditya Birla Group, India</p>
      </div>
      <div class="body">
        <p>Experiance working in green-field Project as well as handled routin maintainance, recovery & failover of database server.
          Design & Developed services for certain task, that <strong>save 50% times</strong> as well helped <strong>solve problems</strong>.
        </p>
        <ul>
          <li>Develop & maintain services using Angular 2+,NodeJs, MongoDb, Express</li>
          <li>Installing & maintaining Real-time database server.</li>
          <li> Assign passwords & maintain database access.</li>
          <li>  Configure database software.</li>
          <li>  Develop & secure network structure. </li>
          <li>  Work closely with development team with regards to
              database design & updates.</li>
          <li>  Design & developed store procedure & triggers. </li>
          <li>  monitor performance of database and manage parameters
              in order to provide fast responses to front-end users. </li>
          <li> Optimize Queries on Live Data </li>
        </ul>
      </div>
    </div>
    <div class="entry hide-on-init" animateOnScroll animationName="animated bounceInLeft">
      <div class="title">
        <h3>July 2013- Nov. 2014</h3>
        <p>Web Developer Trainee</p>
        <p><i class="fas fa-map-marker"></i> Genereation Next, India</p>
      </div>
      <div class="body">
        <p>As a trainee learn software development concept</p>
        <ul>
          <li>Good Development experience using Windows Platforms
              with ASP.NET with C#, NodeJs, AngularJs</li>
          <li> Created site/layout /user interface from provided design
              concepts by using standard HTML/CSS/JavaScript
              practices</li>
          <li>REST APIs development to be consumed by mobile
              application team</li>
          <li>Thorough Knowledge of SQL</li>
          <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
          <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
        </ul>
      </div>
    </div>
    <div class="entry hide-on-init" animateOnScroll animationName="animated bounceInLeft">
      <div class="title">
        <h3>Sept 2009 - June 2013</h3>
        <p>Electronication & Communication Engineering</p>
        <p><i class="fas fa-map-marker"></i> Surat, India</p>
      </div>
      <div class="body">
        <p>Finished Bachlor of Engineering with Distinction grade. Finished few projects that helps me to gain my intrest toward software development.</p>
        <p class="subtitle"><strong> Carrier related Courses</strong> </p>
        <ul>
          <li>Embedded System</li>
          <li>Software Engineering</li>
          <li>Data Communication & Networking</li>
        </ul>
      </div>
    </div>

  </div>

