<section class="contact" id="contact">
  <h2>Contact Me</h2>
  <div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name">
      <div style="color: rgb(226,16,62);"
      *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched">
      <span *ngIf="contactForm.get('name').errors['required']">This field is required!</span>
    </div>

      <label for="email">E-mail</label>
      <input type="text" id="email" formControlName="email">
      <div  style="color: rgb(226,16,62);"
        *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched"
         class="help-block">Please enter a valid email!</div>

      <label for="message">Message</label>
      <textarea formControlName="message" id="message" style="height: 200px"></textarea>
      <div  style="color: rgb(226,16,62);"
              *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"
              class="help-block">Please enter a valid message!</div>

      <button [disabled]="!contactForm.valid" type="submit" class="button_form">Submit</button>
    </form>
  </div>
</section>

<footer>
  <section class="top-bar">
    <a href="https://www.facebook.com/hridays" target= "_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.linkedin.com/in/hridaysur/" target= "_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://bitbucket.org/hridaysur/" target= "_blank"><i class="fab fa-bitbucket"></i></a>
    <a href="https://twitter.com/Hriday07" target= "_blank"><i class="fab fa-twitter-square"></i></a>
  </section>
</footer>

