<section class="folio" id="folio">
<app-timeline></app-timeline>

  <h2>My Work</h2>

  <swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card">
            <div class="thumbnail">
              <img class="left" src="../../assets/images/campsite.jpeg"/>
            </div>
            <div class="right">
              <h1>YelpCamp on Heroku</h1>
              <div class="separator"></div>
              <p>Developed YelpCamp Using JavaScript fullstack includes NodeJs, MongoDB, ExpressJs, EJS templetes.
                Front-End also includes HTML5, CSS3, Bootstrap, JavaScript. Back-End was supported by NodeJs, MongoDB, ExpressJs, PassportJS, RestAPI.
                Used PassportJS & JWT Authentication & secure routing. Used Socket.IO for build Reat-Time notification.Used GoogleAPI to display Camp location.
                Deploy & Manage on Heroku. Used Git & BitBucket as version control. </p>
            </div>
            <h5>31</h5>
            <h6>May, 2018</h6>
            <ul>
              <a href="https://floating-wave-95334.herokuapp.com/" target= "_blank"><li><i class="fa fa-eye fa-2x"></i></li></a>
              <a href="https://hridaysur@bitbucket.org/hridaysur/yelpcamp-api" target= "_blank"><li><i class="fa fa-share-alt fa-2x"></i></li></a>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
            <div class="card">
                <div class="thumbnail">
                  <img class="left" src="../../assets/images/restaurant-technology-TEASER.png"/>
                </div>
                <div class="right">
                  <h1>Restaurant Management System</h1>
                  <div class="separator"></div>
                  <p>Developed Single page application using Angular 2+, CSS3, HTML5, Bootstrap.Design & Developed Angular Routes.
                    Also Includes fetures of Angular 2+ like Observables, Directives, Services & Dependency Injections, Components & Data-bindings,
                    Template driven as well as reactive approach to angular Forms. HTTP as well HTTPClient Module, Authemtication & Route protection, NgRx.
                    Also include offline capabilities using service worker to develope progressive web app. Used Angular animation as well as CSS3 animation.
                  </p>
                </div>
                <h5>31</h5>
                <h6>May, 2018</h6>
                <ul>
                  <a href="https://hridaysur@bitbucket.org/hridaysur/restaurant-management" target="_blank"><li><i class="fa fa-share-alt fa-2x"></i></li></a>
                </ul>
              </div>
        </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="thumbnail">
                  <img class="left" src="../../assets/images/e-commerce-platforms.png"/>
                </div>
                <div class="right">
                  <h1>Auction System</h1>
                  <div class="separator"></div>
                  <p> Design & Developed Auction System on cloud using C#, .net framework. Front-End includes CSHTML, HTML5, CSS#, JavaSript, Jquery, SemanticUI.
                     Along with C#, .net used MVC framework as design architecture. Developed RESTful routes. Used Microsoft SQL server as Database.
                    Used ADO.net & entity framework to perform database query. Implement LogIn LogOut module as well session & caching.
                    Used SignalR Library to implement Real-time voice notification. </p>

                </div>
                <h5>20</h5>
                <h6>December, 2017</h6>
                <ul>

                </ul>
              </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>


  <!-- <div class="row-halves" >

      <div class="col">
              <img src="../../assets/images/e-commerce-platforms.png" alt="">
              <div class="overlay">
                 <h3>Auction System</h3>
                 <a class="info" (click)="htmlInsideModal.open()">More Info</a>
                 <modal id="modal" #htmlInsideModal>
                    <ng-template #modalHeader><h2>Auction System</h2></ng-template>
                    <ng-template #modalBody>
                      <app-project-details></app-project-details>
                    </ng-template>
                    <ng-template #modalFooter></ng-template>
                  </modal>
              </div>
      </div>

      <div class="col">
        <img src="../../assets/images/campsite.jpeg" alt="">
        <div class="overlay">
            <h3>YelpCamp</h3>
            <a class="info" href="">More Info</a>
         </div>
      </div>
  </div>

  <div class="row-halves">
      <div class="col">
        <img src="../../assets/images/quiz.png" alt="">
        <div class="overlay">
            <h3>Quiz Bizz</h3>
            <a class="info" href="">More Info</a>
         </div>
      </div>

      <div class="col">
          <img src="../../assets/images/background.jpg" alt="">
          <div class="overlay">
              <h3>Personal</h3>
              <a class="info" href="">More Info</a>
           </div>
        </div>
    </div> -->

</section>
