

  <div class="wrapper">
    <div class="box header">Project Overview</div>
    <div class="box sidebar">Sidebar</div>
    <div class="box content">
    <ul id="list">
      <li> Developed a complete backend system that will support all
           functionalities. Development in C#, Entity framework </li>
      <li> A frontend website where users will signup/login to check
           items and their bids. Development in HTML5, CSS,
           JavaScript, JQuery, Bootstrap</li>
      <li> Design & maintain a relational database (MS SQL)</li>
      <li>  Amazon EC2 Instance used </li>
      <li> The website support a text-to-speech notification module (if
           opted while signing up). A Real-time notifications via
           WebSocket technology (SignalR).</li>
    </ul>
  </div>
    <div class="box footer"><a class="button_popup">View Code</a></div>
  </div>

