a.button_popup{
  display:inline-block;
  padding:0.8em 1.2em;
  margin:0.5em 1.3em 1.3em 0.5em;
  border-radius:0.4em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  font-size: 1.1em;
  color:black;
  background-color:transparent;
  border:0.15em solid rgba(0,0,0,0.9);
  text-align:center;
  transition: all 0.2s;
  min-height: 2em;
  min-width: 10em;
  }

  a.button_popup:hover{
    border:0.15em solid rgba(228,16,62,0.7);
  }

  .sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}


.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}


.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 600px;
    grid-template-areas:
"....... header header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #fff;
    color: #444;
}


.box {
background-color: #444;
color: #fff;
border-radius: 5px;
padding: 10px;
font-size: 150%;
}

.header,
.footer {
background-color: #999;
}


#list{
  margin: 0 auto;
  text-align: left;
}
