/* You can add global styles to this file, and also import other style files */
/* rgb(228,16,62) */

@import "~angular-vertical-timeline/dist/vertical-timeline.css";
@import "assets/css/animate.css";

*,
*::before,
*::after{
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  padding: 0;
  margin: 0;
  background: #000000;
  color: rgb(250,250,250);
  font-family: 'Chivo', sans-serif;
 font-weight: 500;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.home img{
  width: 100%;
  -webkit-filter: grayscale(100%) contrast(100%);
  filter: grayscale(100%) contrast(100%) brightness(60%);
}

.folio img{
  filter: grayscale(100%);
}

aside{
  position: fixed;
  background: #222;
  top:0px;
  left:0px;
  width: 120px;
  height:100%;
  overflow: none;
  z-index: 1;
  text-align: center;
  padding: 0;
}

aside img{
filter:  brightness(100%);
margin-bottom: -3px;
}

#icon{
  font-size:36px;
}

aside a{
  display: block;
  padding: 15px 0;
  color: white;
  transition: all 0.35s;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
}

aside p{
  margin:0;
  padding:0px;
  padding-top: 10px;
}

aside a:hover{
  background:#000;
}

aside nav a:nth-child(2){
  background:#000;
}

aside nav a:nth-child(2):hover{
background: #b2b2b2;
color:#222;
}

main{
  max-width: 980px;
  background: transparent;
  margin-left: 20%;
  padding: 12px 50px 12px 50px;
  margin-top:5.5em;
}

.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
}

header{
  text-align: center;
  letter-spacing: 2px;
}

header h2{
  font-weight: 400;
  font-size:1.3em;
  letter-spacing: 4px;
}

#header_hello{
  color: rgb(228,16,62);
  font-size: 2em;
  font-family: 'Lobster', serif;
}

header h1{
  font-weight: bold;
  font-size: 4.3em;
  letter-spacing: 4px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-family: 'Cinzel', serif;
 font-weight: 700;

}

header h5{
  font-weight: 300;
  font-size: 1.3em;
  letter-spacing: 4px;
  color:rgba(250,250,250,0.8);
}

header h5 span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(250,250,250,0.9);
}
header h5 span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(250,250,250,0.9);
}


a.button3{
  display:inline-block;
  padding:0.8em 1.2em;
  margin:0.5em 1.3em 1.3em 0.5em;
  border-radius:0.4em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  font-size: 1.1em;
  color:#FFFFFF;
  background-color:transparent;
  border:0.15em solid rgba(250,250,250,0.9);
  text-align:center;
  transition: all 0.2s;
  min-height: 2em;
  min-width: 10em;
  }

  a.button3:hover{
    border:0.15em solid rgba(228,16,62,0.7);
  }



.about,
.folio,
.contact{
line-height: 1.5em;
letter-spacing: 1px;
font-weight: 300;
margin-left: 20%;
margin-right: 10%;
padding-bottom: 25px;
}

.about h2,
.folio h2,
.contact h2{
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: line-through;
  padding-bottom: 10px;
  margin:100px 0 0 0;
  letter-spacing: 4px;
  color: rgb(228,16,62);
}

.about p{
  color: rgba(250,250,250,0.9);
}

.about span{
  font-weight: 600;
  color:rgb(250,250,250);
}

.about h3{
  font-weight:300;
  margin:50px 0;
}

.container{
  width: 100%;
  background-color: #b2b2b2;
}

.skills{
  text-align: right;
  padding-right: 20px;
  line-height: 30px;
  color:white;
  background-color: #424242;
}

/* Write all the skills acordingly */
.csharp{
  width:65%;
}

.Node{
  width:65%;
}

.angular{
  width:50%;
}

.MongoDB{
  width:65%;
}

.sql{
  width:60%;
}

.javascript{
  width:70%;
}

.expressjs{
  width:60%;
}

.row-halves{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  -webkit-flex-pack:justify;

}

.row-halves .col{
  width: 49%;
}

.col{
  border: 1px solid #222;
  background:#222;
  color:rgba(250,250,250,0.9);
  padding:10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}




/* .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
} */

/* .col .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.8);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}*/

.col:hover .overlay {
  background-color:rgba(228,16,62,0.7);
}

/* .col img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
} */

.col h3 {
  text-transform: uppercase;
  color:rgb(250,250,250);
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.col:hover h3 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.col a.info {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  /* padding: 7px 14px; */
  text-transform: uppercase;
  color:rgb(46,46,46);
  border: 2px solid rgb(46,46,46);
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  font-weight: bold;
  margin: 52px 0 0 0;
  padding: 62px 100px;
}

.col:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.col a.info:hover {
  box-shadow: 0 0 5px rgb(46,46,46);
}




label{
  color: rgba(250,250,250,0.9);
}


form input[type="text"],
select,
textarea{
  width: 100%;
  padding: 12px;
  border:none;
  border: 2px solid #333;
  background: transparent;
  margin-top: 6px;
  margin-bottom:16px;
  resize: vertical;
  color: rgba(250,250,250,0.9);
}

form input[type="text"]:focus,
textarea:focus{
  outline: none;
  border:1px solid rgb(228,16,62);
}

button.button_form{
  display:inline-block;
  padding:0.8em 1.2em;
  margin:0.5em 1.3em 1.3em 0.5em;
  border-radius:0.4em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  font-size: 1.1em;
  color:#FFFFFF;
  background-color:transparent;
  border:0.15em solid rgba(250,250,250,0.9);
  text-align:center;
  transition: all 0.2s;
  min-height: 2em;
  min-width: 10em;
  }

  button.button_form:hover{
    border:0.15em solid rgba(228,16,62,0.7);
  }


.contact .container{
  margin-top: 20px;
  margin-bottom: 100px;
  background: transparent;
  padding: 20px 0;
}

footer{
  border-top: 1px solid #222;
}

.top-bar{
  padding: 20px 0;
  text-align: center;
}

.top-bar a{
  margin: 10px;
  font-size:2em;
  color:rgba(250,250,250,0.9);
  transition:  all 0.35s;
  display: inline-block;
}

.top-bar a:hover{
  transform: scale(1.1);
  color:rgb(228,16,62);
}

.bottom-bar{
  background: #000;
  font-size:0.75em;
  text-align: center;
}

@media (max-width:768px){
  .row-halves{
    display: block;
  }

  .row-halves .col{
    width:100%;
    margin: 0 0 10px 0;
  }


}

@media (max-width:601px){
  aside{
    display: none;
  }

  main{
    width:100%;
    margin: 0 auto;
    padding: 12px 25px;
  }

  header{
    margin-top: 80px;
  }

  header h1{
    font-size:3em;
    line-height:1.4em;
  }

  header h5 span{
    font-size:1em;
    line-height:2px;
    padding: 0 .6rem;
  }

  .mobile-nav{
    position: fixed;
    width:100%;
    padding:0 5px;
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.8);
    z-index: 1;
  }

  .mobile-nav a{
    width:100%;
    color: #b2b2b2;
    text-transform: uppercase;
    font-size: 0.750em;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 10px;
    transition: all 0.35s;
  }

  .mobile-nav a:hover{
    background:#b2b2b2;
    color: #222;
  }

}



@media(min-width:600px){
  .mobile-nav{
    display: none;
  }

}

@media all and (max-width:30em){
   a.button3{
    display:block;
    margin:0.2em auto;
  }
}

/* For animation */
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}


body.modal-open {
  overflow: hidden; /* Optional: hides body scroll bar when modal is open. */
}

.modal {
  opacity: 0; /* Fade in/out animation. */
  transition: opacity 0.2s ease-in;
}

.modal-content {
  color: #333;
  background-color:rgba(250,250,250,0.8);
  padding: 25px;
}

.modal-header {
  display: flex;
  padding-bottom: 14px;
}

.modal-header  > h2 {
  flex: 1;
}

.modal-header .close {
  background-color: rgba(250,250,250,0.8);
  font-weight: 100;
  font-size: 2.5rem;
  border: 0;
  border-radius: 999px;
  padding: 0;
  margin: 0;
  line-height: 1rem;
  height: 4rem;
  width: 4rem;
}

.modal-header .close:hover {
  background-color: #ccc;
}
