
<particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams">
  <div class="intro-overlay"></div>

</particles>
<main>
    <header class="home" id="home"><br><br>
      <h2><span id="header_hello">Hello, World.</span></h2>
      <h1>I'm Hriday Sur</h1>
      <h5>
        <span>Full-Stack Developer</span>
        <span>Software Developer</span>
      </h5>
      <!-- <img src="../../assets/images/background.jpg" alt=""> -->
      <a [routerLink]="['/about']" class="button3">About Me</a>
      <a href="https://drive.google.com/file/d/1oa3FnE7TDgWY7lH5LRp_QJo8bVDWb-ii/view?usp=sharing" target= "_blank" class="button3" id="btn_dwnld">Download CV</a>
    </header>
  </main>
  <footer>
    <section class="top-bar">
      <a href="https://www.facebook.com/hridays" target= "_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="https://www.linkedin.com/in/hridaysur/" target= "_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://bitbucket.org/hridaysur/" target= "_blank"><i class="fab fa-bitbucket"></i></a>
      <a href="https://twitter.com/Hriday07" target= "_blank"><i class="fab fa-twitter-square"></i></a>
    </section>
  </footer>


